@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

body {
  background-color: var(--background-color);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.adivice {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--advice-card-color);
  border-radius: 10px;
  margin: 20px;
  width: 345px;
}

.adivice .advice-id {
  color: var(--advice-dice-color);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15px;
  margin-top: 30px;
}

.adivice .advice-description {
  font-size: 23px;
  padding: 23px;
  text-align: center;
  color: var(--text-color);
}

.adivice .advice-update {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--advice-dice-color);
  transform: translateY(50%);
}

.adivice .advice-update:hover {
  color: #53ffab;
  cursor: pointer;
  box-shadow: 0 5px 15px var(--advice-dice-color);
}
